*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(white, #ADAAEE, #3D085A, black);
    color: #3D085A;
}
header, main{
    background-color: #ADAAEE;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    min-width: 30rem;
    border: .1rem solid rgba(128, 128, 128, 0.116);
    border-top: none;
    border-radius: .8rem;
}
header, main, footer{
    max-width: 900px;
}
header{
    justify-content: center;
    margin: 1rem 1rem .5rem 1rem;
    background: linear-gradient(white, #ADAAEE);
}
.h-left-container{
    width: 70%;
}
.name ,.header-h2{
    height: 7rem;
}
.name{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 210%;
    text-transform: uppercase;
}
.header-h2{
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}
.img-container{
    height: 14rem;
    width: 30%;
    padding-left: 1rem;
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.personal-img{
    width: 95%;
    border-radius: 10%;
}
.header-p{
    order: 4;
    width: 143%;
    font-size: 120%;
    padding: 1rem;
}
.cursos{
    color: #7fa53c;
    text-decoration: none;
}
.uni{
    color: #e20d1494;
    text-decoration: none;
}
hr{
    color: white;
    border-top: .01rem dotted rgba(128, 128, 128, 0.692);
    border-bottom: 0;
}
main{
    margin: .5rem 1rem .5rem 1rem;
}
.h2s{
    font-size: 1.17rem;
    font-weight: 600;
    text-transform: uppercase;
}
.m-left-container{
    width: 100%;
}
.expes{
    border: .2rem solid rgba(0, 0, 0, 0.281);
    border-radius: .5rem;
    margin: .5rem;
    display: flex;
}

.dates{
    font-style: italic;
}
.act
{
    font-weight: bold;
    text-decoration: underline;
}
.r-c, .l-c{
    width: 100%;
    margin: .5rem;
    padding: .5rem;
}

footer{
    margin: .5rem 1rem 1rem 1rem;
    padding: 1rem 0 1rem 0;
    border: .1rem solid rgba(128, 128, 128, 0.116);
    border-radius: .5rem;
    display: flex;
    justify-content: space-around;
    background-color: #ADAAEE
}
.ft{
    /* margin: 1rem; */
    padding: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.281);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.ft ul{
    list-style: none;
}
.ft ul li{
    margin: .5rem 0 .5rem 0;
}
.ft a figure{
    display: flex;
    justify-content: center;
}
.contact, .skills, .languages{
    font-style: normal;
    width: 25%;
    display: flex;
}
.linkedin-logo, .whatsapp-logo{
    width: 70%;
    max-width: 8rem;
    max-height: 8rem;
}
.gmail-logo{
    width: 40%;
    max-height: 3rem;
    max-width: 3rem;
}
.h2ft{
    align-self: center;
}